{% extends "__layout.twig" %}

{% block content %}



{% import "macros.html" as macros %}
<div>
    <h1>{{title}}</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            
            
            {{ macros.btn('Фотокарточка', '/mutants-object/'~ id ~'?view=image',false,'nav-link' , type == 'image') }}
            
        </li>
        <li class="nav-item">
            
            
            {{macros.btn('Информация', '/mutants-object/'~ id ~ '?view=info',false, 'nav-link' ,type == 'text') }}
            
        </li>
    </ul>
    
    <ul class="list-group">
        <li class="list-group-item">

            {% block objectContent %}
                <div class="container">
                <p>{{description}}</p>
                </div>
            {% endblock %}
        </li>
    </ul>
    

</div>



{% endblock %}