{% extends "__layout.twig" %}

{% block content %}

{% import "macros.html" as macros %}
<div>
    <h1>{{title}}</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            
            
            {{ macros.btn('Фотокарточка', '/'~ name~'/image', type == 'image','nav-link active') }}
        </li>
        <li class="nav-item">
            
            
            {{macros.btn('Информация', '/'~ name~ '/info',type == 'text','nav-link  active' ) }}
            
        </li>
    </ul>
</div>




{% block objectContent %}

{% endblock %}
{% endblock %}