{% extends "__layout.twig" %}
{% block content %}

<!-- {% for object in mutants_objects %} -->
    <!-- <img src="{{object.image}}" style="width: 800px;"/>  <br> -->
    <!-- Название: {{ object.title }} <br>  
{% endfor %}
<pre>
    {{ dump(mutants_objects) }} 
</pre> -->

<ul class="list-group">
    
    
    
        <div class="container">
            <div class="row">
                {% for item in mutants_objects %}
                    {% if loop.lenght == 1 %}
                        <div class="col-12 col-xs-12 col-sm-8">
                            {% include('menu.html') %}
                        </div>
                    {% elseif loop.lenght == 2 %}
                        <div class="col-12 col-xs-12 col-sm-6">
                            {% include('menu.html') %}
                        </div>
                    {% else %}
                        <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-1">
                            {% include('menu.html') %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>
        
        
    
    
</ul>



{% endblock %}