{% extends "__layout.twig" %}
{% block content %}

<!-- {% for object in mutants_objects %} -->
    <!-- <img src="{{object.image}}" style="width: 800px;"/>  <br> -->
    <!-- Название: {{ object.title }} <br>  
{% endfor %}
<pre>
    {{ dump(mutants_objects) }} 
</pre> -->

<ul class="list-group">
    
    
    <li class="list-group-item" style="display: flex;">
        <div class="container">
            <div class="row">
                {% for item in mutants_objects %}
                <div class="col-2">
                    {% include('menu.html') %}
                </div>
                {% endfor %}
            </div>
            
        </div>
        
        
    </li>
    
</ul>



{% endblock %}