{% extends "__layout.twig" %}
{% block content %}

<ul class="list-group">
    {% for item in menu %}
    <li class="list-group-item">
        
        
        {% include('menu.html') %}
        
    </li>
    {% endfor %}
</ul>



{% endblock %}