  {% import "macros.html" as macros %}

<ul class="list-group-item">
  <div class="list-group-item position-relative">
      <div class="position-absolute" style="right: 4px; top: 4px">
        <form action="/mutants-object/{{item.id}}/delete" method="POST">
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-times"></i>
          </button>
        </form>
      </div>
      <div class="position-absolute" style="left: 4px; top: 4px">
          <a class="btn btn-primary" href="/mutants-object/{{item.id}}/edit">
            <i class="fas fa-pen"></i>
          </a>
      </div>
    <img src="{{item.image}}" class="img-fluid"/>  <br>
  </div>
  <div class="row mx-auto" >
    {{ macros.btn(item.title, "/mutants-object/" ~ item.id ~ "",true) }} 
    <div class="col-auto mx-auto ">
      {{ macros.btn('Фотокарточка', "/mutants-object/" ~ item.id ~ "?view=image",false,'btn-link') }} 
      
    </div>
    <div class="col-auto mx-auto ">
      {{ macros.btn('Информация',"/mutants-object/" ~ item.id ~ "?view=info",false,'btn-link') }} 
    </div>
  </div > 
    
</ul>
  
  

