  {% import "macros.html" as macros %}

<ul class="list-group-item">
  <div class="list-group-item">
    <img src="{{item.image}}" class="img-fluid"/>  <br>
  </div>
  <div class="row mx-auto" >
    {{ macros.btn(item.title, item['url-main'],true) }} 
    <div class="col-auto mx-auto ">
      {{ macros.btn('Фотокарточка', item['url-image'],true,'btn-link') }} 
      
    </div>
    <div class="col-auto mx-auto ">
      {{ macros.btn('Информация',item['url-info'],true,'btn-link') }} 
    </div>
  </div > 
    
</ul>
  
  

