{% extends "__object.twig" %}

{% block objectContent %}
    <div style="margin: 5px;">
        Ртуть обладает сверхъестественной способностью передвигаться с запредельными скоростями; до недавнего времени он в пределах основной вселенной Marvel изображался человеком-мутантом[en], наделённым сверхъестественными способностями. Весьма часто персонаж появляется в связи с Людьми Икс, будучи впервые представлен как их противник; в более поздних публикациях он сам становится супергероем. Ртуть — брат-близнец Алой Ведьмы, сводный брат Полярис; помимо этого, он в ряде альтернативных реальностей и до недавнего времени в основной вселенной представлялся сыном Магнето.
    </div>
{% endblock %}