{% extends "__object.twig" %}

{% block objectContent %}
    <div style="margin: 5px;">
        Росомаха — мутант, имеющий сверхчеловеческие способности. Он обладает регенерацией, которая позволяет ему выживать после тяжёлых ранений, смертельных для обычного человека. Большинство ядов и болезней также не причиняют ущерб здоровью Росомахи. Его суперспособность повышает выносливость и ловкость, обостряет чувства, замедляет старение организма. Скелет Росомахи отличается от человеческого наличием шести лезвий, похожих на кинжалы и острых, как бритва. Лезвия выдвигаются из перепонок между пальцами (в каждой руке по три лезвия). После участия в эксперименте «Оружие Икс» скелет Росомахи был покрыт неразрушимым сплавом адамантия. Росомаха — эксперт во многих видах рукопашного боя, имеет боевую подготовку, работал разведчиком, наёмником и агентом ЦРУ. Участвовал в Первой и Второй мировых войнах, воевал в Испании и Вьетнаме, великолепный тактик и стратег.    </div>
{% endblock %}